{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a href="{% url 'carnet_auto:ajout_voiture' %}"
           class="btn btn-primary navbar-btn">{% trans "Ajouter une voiture" %}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for voiture in voitures %}
            {# On met un maximum de 3 vignettes de voitures par ligne #}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row">
            {% endif %}
        <div class="{% if forloop.counter0|divisibleby:3 and voitures|length|subtract:forloop.counter0 == 2 %}col-md-offset-2 {% elif forloop.counter0|divisibleby:3 and voitures|length|subtract:forloop.counter0 == 1 %}col-md-offset-4 {% endif %}col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ voiture.nom }}</h3>
                </div>

                <div class="panel-body">
                    <a href="{% url 'carnet_auto:voiture' pk=voiture.pk %}" class="thumbnail">
                        <img src="{% if voiture.photo %}{% get_media_prefix %}{{ voiture.photo }}{% else %}{% static "img/megane.jpg" %}{% endif %}"/>
                    </a>
                </div>

                <div class="panel-footer text-center">
                    {{ voiture.modele }}
                </div>
            </div>
        </div>
        {% if forloop.last or not forloop.first and forloop.counter|divisibleby:3 %}
            </div>
        {% endif %}

        {% empty %}
            <p class="lead operations-home">{% trans "Aucune voiture ! Vous pouvez en ajouter en cliquant sur le bouton en haut de l'écran !" %}</p>
        {% endfor %}

        <p class="lead text-center">{% trans "Dernières opérations" %}</p>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Voiture" %}</th>
                        <th>{% trans "Opération" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Etat" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in dernieres_operations %}
                        <tr>
                            <td>{{ operation.revision.voiture.nom }}</td>
                            <td>{{ operation.type.nom }}</td>
                            <td>{{ operation.revision.date }}</td>
                            {% if operation.effectue %}
                                <td><span class="label label-success">{% trans "Effectué" %}</span></td>
                            {% else %}
                                <td><span class="label label-warning">{% trans "A prévoir" %}</span></td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">{% trans "Aucune opération encore enregistrée !" %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    {% bootstrap_pagination page_obj %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}