{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a class="btn btn-default navbar-btn" href="
                {% if creation %}{% url 'home' %}{% else %}{% url 'voiture' pk=voiture.pk %}{% endif %}">{% trans "Retour" %}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form enctype="multipart/form-data" method="post" action="
                    {% if creation %}{% url 'ajout_voiture' %}{% elif edition %}{% url 'edite_voiture' pk=voiture.pk %}{% endif %}">
                {% csrf_token %}
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{% trans "Photo" %}</h3>
                        </div>

                        <div class="panel-body">
                            <img src="
                                    {% if voiture.photo %}{% get_media_prefix %}{{ voiture.photo }}{% else %}{% static "img/megane.jpg" %}{% endif %}"
                                 class="img-thumbnail"/>
                        </div>

                        <div class="panel-footer text-center">
                            {% bootstrap_field form.photo show_label=False %}
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <p class="lead text-center">{% if creation %}{% trans "Ajout d'une voiture" %}{% else %}
                        {% trans "Edition d'une voiture" %}{% endif %}</p>

                    <div class="form-horizontal">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.nom layout='horizontal' %}
                        {% bootstrap_field form.modele layout='horizontal' %}
                        {% bootstrap_field form.immatriculation layout='horizontal' %}
                        {% bootstrap_field form.kilometrage layout='horizontal' %}
                        {% bootstrap_field form.date_mise_circulation layout='horizontal' %}
                        {% bootstrap_field form.moyenne_km_annuel layout='horizontal' %}
                        {% bootstrap_field form.prix_achat layout='horizontal' %}
                        {% bootstrap_field form.date_achat layout='horizontal' %}
                        {% bootstrap_field form.kilometrage_achat layout='horizontal' %}
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">{% trans "Valider la saisie" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}