{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block bootstrap3_content %}

    <div class="body-signin">
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">{% trans "Connexion" %}</h2>
            {% bootstrap_form form show_label=False form_group_class='' %}

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">{% trans "Mot de passe perdu ?" %}</a></p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Se connecter" %}</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>

{% endblock %}

{% block bootstrap3_extra_script %}
    {# IE10 viewport hack for Surface/desktop Windows 8 bug #}
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
{% endblock %}