Django>=1.8.7
python-dateutil>=2.4.2
django-bootstrap3>=6.2.2
django-widget-tweaks>=1.4.1
Pillow>=2.9.0
django-extra-views>=0.7.1
django-formset-js>=0.5.0
djangorestframework>=3.3.1
requests>=2.9.0
beautifulsoup4>=4.4.0