{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a class="btn btn-default navbar-btn" href="{% url 'compta:home' %}">{% trans "Retour" %}</a>
        {% if edition %}
            {# FIXME: La suppression supprime en cascade les opérations assignées au budget #}
{#            <button type="button" data-toggle="modal" data-target="#confirmeSuppression"#}
{#                                    class="btn btn-danger btn-sm">{% trans "Supprimer le budget" %}</button>#}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form enctype="multipart/form-data" method="post" action="{% if creation %}{% url 'compta:ajout-budget' %}{% elif edition %}{% url 'compta:edite-budget' pk=budget.pk %}{% endif %}">
                {% csrf_token %}
                <div class="col-md-12">
                    <p class="lead text-center">{% if creation %}{% trans "Ajout d'un budget" %}{% else %}
                        {% trans "Edition d'un budget" %}{% endif %}</p>

                    <div class="form-horizontal">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.categorie layout='horizontal' %}
                        {% bootstrap_field form.compte_associe layout='horizontal' %}
                        {% bootstrap_field form.budget layout='horizontal' %}
                        {% bootstrap_field form.solde_en_une_fois layout='horizontal' %}
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">{% trans "Valider la saisie" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if edition %}
    <div class="modal fade" role="dialog" id="confirmeSuppression">
        <div class="modal-dialog">
            <form class="modal-content" method="post" action="{% url 'compta:supprime-budget' pk=budget.pk %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Confirmation suppression" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Êtes-vous sûr de vouloir supprimer ce budget ? Les données de celui-ci seront effacées définitivement !" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Non" %}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Oui" %}</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}