{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a href="{% url 'compta:ajout-budget' %}"
                class="btn btn-primary navbar-btn">{% trans "Ajouter un budget" %}</a>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Voir le détail des comptes' %} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      {% for compte in comptes %}
                          <li><a href="{% url 'compta:operations' pk=compte.pk %}">{{ compte.libelle }}</a></li>
                      {% endfor %}
                  </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% if operations_a_categoriser %}
        <p class="lead text-center">{% trans "Opérations à catégoriser" %}</p>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Compte" %}</th>
                        <th>{% trans "Libellé" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Montant" %}</th>
                        <th>{% trans "Catégorie" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in operations_a_categoriser %}
                        <tr>
                            <td>{{ operation.compte }}</td>
                            <td>{{ operation.libelle }}</td>
                            <td>{{ operation.date_operation }}</td>
                            <td><span class="{% if operation.montant >= 0 %}text-success{% else %}text-danger{% endif %}">{{ operation.montant }}€</span></td>
                            <td>
                                <form>
                                    {% csrf_token %}
                                    {% bootstrap_field operation.categorie_form.operation_id show_label=False layout='inline' %}
                                    {% bootstrap_field operation.categorie_form.redirect show_label=False layout='inline' %}
                                    {% bootstrap_field operation.categorie_form.categorie show_label=False layout='inline' %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    {% bootstrap_pagination page_obj %}
                </div>
            </div>
        </div>
        {% endif %}

        <form class="lead text-center form-inline" action="{% url 'compta:home' %}" method="get">
            {% trans "Budget" %}
            <select class="form-control" name="mois">
                <option value="1" {% if today.month == 1 %}selected{% endif %}>{% trans 'janvier' %}</option>
                <option value="2" {% if today.month == 2 %}selected{% endif %}>{% trans 'février' %}</option>
                <option value="3" {% if today.month == 3 %}selected{% endif %}>{% trans 'mars' %}</option>
                <option value="4" {% if today.month == 4 %}selected{% endif %}>{% trans 'avril' %}</option>
                <option value="5" {% if today.month == 5 %}selected{% endif %}>{% trans 'mai' %}</option>
                <option value="6" {% if today.month == 6 %}selected{% endif %}>{% trans 'juin' %}</option>
                <option value="7" {% if today.month == 7 %}selected{% endif %}>{% trans 'juillet' %}</option>
                <option value="8" {% if today.month == 8 %}selected{% endif %}>{% trans 'août' %}</option>
                <option value="9" {% if today.month == 9 %}selected{% endif %}>{% trans 'septembre' %}</option>
                <option value="10" {% if today.month == 10 %}selected{% endif %}>{% trans 'octobre' %}</option>
                <option value="11" {% if today.month == 11 %}selected{% endif %}>{% trans 'novembre' %}</option>
                <option value="12" {% if today.month == 12 %}selected{% endif %}>{% trans 'décembre' %}</option>
            </select>
            <select class="form-control" name="annee">
                {% for annee in available_years %}
                    <option value="{{ annee|remove_spaces }}" {% if today.year == annee %}selected{% endif %}>{{ annee|remove_spaces }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-default" type="submit">{% trans 'OK' %}</button>
        </form>

        {% for compte in comptes_budget %}
                {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
        {% endif %}
            <div class="{% if forloop.last and forloop.counter0|divisibleby:2 %}col-md-12{% else %}col-md-6{% endif %}">
                <table class="table table-striped">
                    <caption class="text-center">{{ compte.libelle }} : {{ compte.solde }}€</caption>
                    <thead>
                    <tr>
                        <th>{% trans "Libellé" %} <a data-toggle="tooltip" data-placement="right" title="{% trans 'Voir/Cacher les budgets cachés' %}" href="#" onclick="event.preventDefault(); $('.budget_{{ compte.pk }}').toggleClass('hidden'); $(this).tooltip('hide');">{% bootstrap_icon 'eye-open' %}</a></th>
                        <th>{% trans "Budgeté actuellement" %}</th>
                        <th>{% trans "Dépenses" %}</th>
                        <th>{% trans "Restant" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for budget in compte.budgets %}
                        <tr {% if budget.hidden %}class="budget_{{ compte.pk }} hidden"
                            {% elif budget.warning %}class="warning"
                            {% elif budget.danger %}class="danger"{% endif %}>
                            <td>{{ budget.categorie.libelle }} <a data-toggle="tooltip" data-placement="right" title="{% trans 'Voir les opérations' %}" href="#" onclick="event.preventDefault(); $('.view-operations-{{ budget.pk }}').toggleClass('hidden'); $(this).tooltip('hide');">{% bootstrap_icon 'zoom-in' %}</a></td>
                            <td>{{ budget.budget }}€ <a data-toggle="tooltip" data-placement="right" title="{% trans 'Modifier le budget' %}" href="{% url 'compta:edite-budget' pk=budget.pk %}">{% bootstrap_icon "edit" %}</a></td>
                            <td>{{ budget.depenses }}€{% if budget.warning or budget.danger %} <a data-toggle="tooltip" data-placement="right" title="{% trans 'Appliquer la nouvelle dépense au budget' %}" href="#" onclick="$('#apply_budget{{ budget.id }}').click();">{% bootstrap_icon "ok" %}</a>
                                <form action="{% url 'compta:apply-budget' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="budget_id" value="{{ budget.id }}">
                                    <input type="hidden" name="budget_value" value="{{ budget.depenses }}">
                                    <input type="submit" class="hidden" id="apply_budget{{ budget.id }}"/>
                                </form>
                                {% endif %}
                                </td>
                                <td><span class="{% if budget.solde >= 0 %}text-success{% else %}text-danger{% endif %}">{{ budget.solde }}€</span></td>
                        </tr>
                            {% for operation in budget.operations %}
                                <tr class="hidden view-operations-{{ budget.pk }}">
                                <td style="padding-left: 50px;" colspan="2">{{ operation.libelle }} <a href="#" data-toggle="tooltip" data-placement="right" title="{% trans 'Réinitialiser la catégorisation' %}" onclick="$('#form-edit-categorie-budget-{{ operation.pk }}').submit();">{% bootstrap_icon 'repeat' %}</a>
                                <form id="form-edit-categorie-budget-{{ operation.pk }}" action="{% url 'compta:edit-categorie' %}" method="post">
                                    {% csrf_token %}
                                    {% bootstrap_field operation.categorie_form.operation_id show_label=False layout='inline' %}
                                    {% bootstrap_field operation.categorie_form.redirect show_label=False layout='inline' %}
                                    {% bootstrap_field operation.categorie_form.categorie show_label=False layout='inline' %}
                                    <input type="submit" class="hidden" id="apply_budget{{ budget.id }}"/>
                                </form></td>
                                <td>{{ operation.date_operation }}</td>
                                <td>{{ operation.montant }}€</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>{% trans 'Total' %}</strong></td>
                            <td>{{ compte.total_budget }}€</td>
                            <td>{{ compte.total_depenses }}€</td>
                            <td><span class="{% if compte.total_solde >= 0 %}text-success{% else %}text-danger{% endif %}">{{ compte.total_solde }}€</span></td>
                        </tr>
                        {% if compte.avances_sur_debits_futurs != 0 %}
                        <tr>
                            <td colspan="3" class="text-right"><strong>{% trans 'Avances sur débits futurs' %}</strong></td>
                            <td><span class="{% if compte.avances_sur_debits_futurs >= 0 %}text-success{% else %}text-danger{% endif %}">{{ compte.avances_sur_debits_futurs }}€</span></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="3" class="text-right"><strong>{% trans 'Solde restant' %}</strong></td>
                            <td><span class="{% if compte.solde_restant >= 0 %}text-success{% else %}text-danger{% endif %}">{{ compte.solde_restant }}€</span></td>
                        </tr>
                        {% if not compte.epargne and compte.utilisateurs.count == 1 %}
                            {% for compteJoint in comptes %}
                                {% if compteJoint.total_contributions > 0 and compteJoint.utilisateur.a_verser > 0 %}
                                    <tr>
                                        <td colspan="3" class="text-right"><strong>{% blocktrans with libelle=compteJoint.libelle %}Solde après versement sur {{ libelle }}{% endblocktrans %}</strong></td>
                                        <td><span class="{% if compte.solde_restant|subtract:compteJoint.utilisateur.a_verser > 0 %}text-success{% else %}text-danger{% endif %}">{{ compte.solde_restant|subtract:compteJoint.utilisateur.a_verser }}€</span></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tfoot>
                </table>
            </div>
                {% if forloop.last or not forloop.first and forloop.counter|divisibleby:2 %}
        </div>
                {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-condensed">
                    <caption class="text-center">{% trans "Epargne" %}</caption>
                    <thead>
                    <tr>
                        <th>{% trans "Libellé" %}</th>
                        <th>{% trans "Solde" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for epargne in epargnes %}
                        <tr>
                            <td>{{ epargne.categorie.libelle }}</td>
                            <td>{{ epargne.solde }}€</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="3">{% trans "Aucune épargne n'a été créée !" %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>{% trans 'Total' %}</strong></td>
                            <td>{{ total_epargnes }}€
                            {% if total_epargnes != total_epargne_reel %}
                                <span class="text-danger" data-toggle="tooltip" data-placement="right" title="{% blocktrans %}Le total calculé {{ total_epargnes }}€ ne correspond pas à la somme totale des comptes épargnes {{ total_epargne_reel }}€{% endblocktrans %}">{% bootstrap_icon 'warning-sign' %}</span>
                            {% else %}
                                <span class="text-success" data-toggle="tooltip" data-placement="right" title="{% trans 'Le total calculé correspond bien à la somme totale des comptes épargnes' %}">{% bootstrap_icon 'ok' %}</span>
                            {% endif %}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table table-striped">
                    <caption class="text-center">{% trans "Données diverses" %}</caption>
                    <thead>
                    <tr>
                        <th>{% trans "Libellé" %}</th>
                        <th>{% trans "Solde" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% trans 'Revenus du mois' %}</td>
                            <td>{{ request.user.revenus_personnels }}€ {% if request.user.revenus_personnels == 0 or request.user.revenus_personnels_saisis_manuellement %}<a href="#" data-toggle="tooltip" data-placement="right" title="{% trans "Déclarer/Modifier ses revenus (en mode manuel)" %}" onclick="event.preventDefault(); $('#show_modal_revenus').click();">{% bootstrap_icon 'edit' %}</a>{% endif %}</td>
                        </tr>
                        {% for compte in comptes %}
                            {% if compte.total_contributions > 0 %}
                                <tr>
                                    <td>{% trans "Total investi sur" %} {{ compte.libelle }}</td>
                                    <td>{{ compte.utilisateur.contributions }}€</td>
                                </tr>
                                <tr>
                                    <td>{% trans "Part d'investissement sur" %} {{ compte.libelle }}</td>
                                    <td>{{ compte.utilisateur.part_contribution|times:100|floatformat:2 }}%</td>
                                </tr>
                                <tr>
                                    <td>{% trans "A verser pour le mois suivant sur " %} {{ compte.libelle }}</td>
                                    <td>{{ compte.utilisateur.a_verser|floatformat:0 }}€ <a data-toggle="tooltip" data-placement="right" title="{% trans 'Voir les détails du calcul' %}" href="{% url 'compta:details-calcule-a-verser' pk=compte.pk %}">{% bootstrap_icon 'zoom-in' %}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if request.user.revenus_personnels == 0 or request.user.revenus_personnels_saisis_manuellement %}
    <button data-toggle="modal" data-target="#set_revenus" id="show_modal_revenus" class="hidden"></button>
    <div class="modal fade" role="dialog" id="set_revenus">
        <div class="modal-dialog">
            <form class="modal-content" method="post" action="{% url 'compta:set-revenus' %}">
                {% csrf_token %}
                <input type="hidden" name="operation_id_saisie_manuelle" value="{{ request.user.revenus_personnels_saisis_manuellement.pk }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Déclaration de revenus" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-revenus">{% trans 'Revenus' %} : </label>
                        <input class="form-control" type="number" name="revenus" id="input-revenus" placeholder="{% trans 'Revenus' %}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Annuler" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Valider" %}</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(function () {
            $(document).on('change', "select[name='categorie']", function() {
                $.post('{% url 'compta:edit-categorie' %}', $(this.closest("form")).serialize(), function(data) {});
            });
        });
    </script>
{% endblock %}