{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a class="btn btn-default navbar-btn" href="{% url 'compta:home' %}">{% trans "Retour" %}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <p class="lead text-center">{{ compte.libelle }} : <span class="{% if compte.solde >= 0 %}text-success{% else %}text-danger{% endif %}">{{ compte.solde }}€</span></p>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Libellé" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Montant" %}</th>
                        <th>{% trans "Catégorie" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in operations %}
                        <tr>
                            <td>{{ operation.libelle }}</td>
                            <td>{{ operation.date_operation }}</td>
                            <td><span class="{% if operation.montant >= 0 %}text-success{% else %}text-danger{% endif %}">{{ operation.montant }}€</span></td>
                            <td>
                                <form>
                                    {% csrf_token %}
                                    {% bootstrap_field operation.categorie_form.operation_id show_label=False layout='inline' %}
                                    {% bootstrap_field operation.categorie_form.redirect show_label=False layout='inline' %}
                                    {% bootstrap_field operation.categorie_form.categorie show_label=False layout='inline' %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    {% bootstrap_pagination page_obj %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(function () {
            $(document).on('change', "select[name='categorie']", function() {
                $.post('{% url 'compta:edit-categorie' %}', $(this.closest("form")).serialize(), function(data) {});
            });
        });
    </script>
{% endblock %}