{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a class="btn btn-default navbar-btn" href="{% url 'home' %}">{% trans "Retour" %}</a>
        <a href="{% url 'ajout_revision' pk=voiture.pk %}"
           class="btn btn-primary navbar-btn">{% trans "Enregistrer une révision" %}</a>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{ voiture.nom }}</h3>
                    </div>

                    <div class="panel-body">
                        <img src="{% if voiture.photo %}{% get_media_prefix %}{{ voiture.photo }}{% else %}{% static "img/megane.jpg" %}{% endif %}"
                             class="img-thumbnail"/>
                    </div>

                    <div class="panel-footer">
                        <div class="text-center">
                            <a href="{% url 'edite_voiture' pk=voiture.pk %}"
                               class="btn btn-primary btn-sm">{% trans "Editer la voiture" %}</a>
                            <button type="button" data-toggle="modal" data-target="#confirmeSuppression"
                                    class="btn btn-danger btn-sm">{% trans "Supprimer la voiture" %}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <h4>{% trans "Entretien" %} :
                        {% if indicateur_entretien == IndicateurEntretien.OK %}
                            {% if date_prochain_entretien == None %}
                                <span class="text-warning">{% bootstrap_icon "warning-sign" %} {% trans "Aucun programme enregistré" %} <a
                                    class="button badge" data-toggle="tooltip" data-placement="right"
                                    title="{% trans "Aucun programme de maintenance n'a été enregistré pour ce véhicule" %}">?</a></span>
                            {% else %}
                                <span class="text-success">{% bootstrap_icon "ok" %} {% trans "OK !" %} <a
                                    class="button badge" data-toggle="tooltip" data-placement="right"
                                    title="{% trans "Aucun entretien n'est prévu à ce jour" %}">?</a></span>
                            {% endif %}
                        {% elif indicateur_entretien == IndicateurEntretien.WARN %}
                            <span class="text-warning">{% bootstrap_icon "warning-sign" %} {% trans "Entretien(s) à prévoir" %} <a
                                class="button badge" data-toggle="tooltip" data-placement="right"
                                title="{% trans "Un ou plusieurs entretien(s) sont dores et déjà prévue pour une date ultérieure à celle du jour" %}">?</a></span>
                        {% else %}
                            <span class="text-danger">{% bootstrap_icon "remove" %} {% trans "Entretien(s) retardé(s)" %} <a
                                class="button badge" data-toggle="tooltip" data-placement="right"
                                title="{% trans "Un ou plusieurs entretien(s) sont à effectuer le plus rapidement possible" %}">?</a></span>
                        {% endif %}

                    </h4>
                </div>

                <div class="row">
                    {% if indicateur_entretien == IndicateurEntretien.OK %}
                        <h4>{% trans "Prochain entretien estimé" %} :
                            {% if date_prochain_entretien == None %}
                                <span class="text-warning">{% bootstrap_icon "warning-sign" %} {% trans "Aucun programme enregistré" %} <a
                                    class="button badge" data-toggle="tooltip" data-placement="right"
                                    title="{% trans "Aucun programme de maintenance n'a été enregistré pour ce véhicule" %}">?</a></span>
                            {% else %}
                                <span class="text-success">{{ date_prochain_entretien }} <a
                                    class="button badge" data-toggle="tooltip" data-placement="right"
                                    title="{% trans "La date de prochain entretien estimé est calculée sur la base du nombre de kilomètres annuels que vous avez renseigné" %}">?</a></span>
                            {% endif %}
                        </h4>
                    {% else %}
                        <h4>{% trans "Prochain entretien" %} :
                            {% if indicateur_entretien == IndicateurEntretien.WARN %}
                                <span class="text-warning">{{ date_prochain_entretien }} <a
                                    class="button badge" data-toggle="tooltip" data-placement="right"
                                    title="{% trans "La date de prochain entretien est la date de la révision à effectuer la plus ancienne" %}">?</a></span>
                            {% else %}
                                <span class="text-danger">{{ date_prochain_entretien }} <a
                                    class="button badge" data-toggle="tooltip" data-placement="right"
                                    title="{% trans "La date de prochain entretien est la date (déjà dépassée) à laquelle vous auriez dû effectuer des opérations" %}">?</a></span>
                            {% endif %}
                        </h4>
                    {% endif %}
                </div>

                <div class="row">
                    <a href="{% url 'programme' pk=voiture.pk %}"
                        class="btn btn-primary navbar-btn">{% trans "Gérer le programme de maintenance" %}</a>
                </div>
            </div>
        </div>

        <p class="lead text-center">
            {% trans "Opérations à effectuer" %}
        </p>

         <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Opération" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Kilométrage" %}</th>
                        <th>{% trans "Etat" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in operations_a_prevoir %}
                        <tr>
                            <td>{{ operation.type.nom }}</td>
                            <td>{{ operation.revision.date }}</td>
                            <td>{{ operation.revision.kilometrage }}</td>
                            {% if operation.effectue %}
                                <td><span class="label label-success">{% trans "Effectué" %}</span></td>
                            {% else %}
                                <td><span class="label label-warning">{% trans "A prévoir" %}</span></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'edite_revision' pk=voiture.pk pk_revision=operation.revision.id %}"
                                    class="btn btn-primary btn-xs">{% trans "Editer" %}</a>
                                <button type="button" data-toggle="modal" data-target="#confirmeSuppressionOperation"
                                        onclick="$('#confirmeSuppressionOperationForm').attr('action', '{% url 'supprime_operation' pk=voiture.pk pk_operation=operation.pk %}');"
                                    class="btn btn-danger btn-xs">{% trans "Supprimer" %}</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="5">{% trans "Aucune opération encore enregistrée !" %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <p class="lead text-center">
            {% trans "Dernières opérations" %}
        </p>

         <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Opération" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Kilométrage" %}</th>
                        <th>{% trans "Etat" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in dernieres_operations %}
                        <tr>
                            <td>{{ operation.type.nom }}</td>
                            <td>{{ operation.revision.date }}</td>
                            <td>{{ operation.revision.kilometrage }}</td>
                            {% if operation.effectue %}
                                <td><span class="label label-success">{% trans "Effectué" %}</span></td>
                            {% else %}
                                <td><span class="label label-warning">{% trans "A prévoir" %}</span></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'edite_revision' pk=voiture.pk pk_revision=operation.revision.id %}"
                                    class="btn btn-primary btn-xs">{% trans "Editer" %}</a>
                                <button type="button" data-toggle="modal" data-target="#confirmeSuppressionOperation"
                                        onclick="$('#confirmeSuppressionOperationForm').attr('action', '{% url 'supprime_operation' pk=voiture.pk pk_operation=operation.pk %}');"
                                    class="btn btn-danger btn-xs">{% trans "Supprimer" %}</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="5">{% trans "Aucune opération encore enregistrée !" %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" role="dialog" id="confirmeSuppression">
        <div class="modal-dialog">
            <form class="modal-content" method="post" action="{% url 'supprime_voiture' pk=voiture.pk %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Confirmation suppression" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Êtes-vous sûr de vouloir supprimer cette voiture ? Les données de celles-ci seront effacées définitivement !" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Non" %}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Oui" %}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="confirmeSuppressionOperation">
        <div class="modal-dialog">
            <form id="confirmeSuppressionOperationForm" class="modal-content" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Confirmation suppression" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Êtes-vous sûr de vouloir supprimer cette opération ?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Non" %}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Oui" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}