{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load utils %}

{% block navbar-content %}
    <div class="navbar-left">
        <a class="btn btn-default navbar-btn" href="{% if creation %}{% url 'programme' pk=pk_voiture %}{% else %}{% url 'programme' pk=programme.voiture.pk %}{% endif %}">{% trans "Retour" %}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" action="{% if creation %}{% url 'ajout_programme' pk=pk_voiture %}{% else %}{% url 'edite_programme' pk=programme.voiture.pk pk_programme=programme.pk %}{% endif %}">
                {% csrf_token %}
                <div class="col-md-12">
                    <p class="lead text-center">
                        {% if creation %}{% trans "Ajout d'un programme de maintenance" %}{% elif edition %}
                            {% trans "Edition d'un programme de maintenance" %}{% endif %}
                    </p>

                    <div class="form-horizontal">
                        {% bootstrap_form form layout='horizontal' %}
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">{% trans "Valider la saisie" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}